src/IO.Dtos/Xsd/data/DataConstraintStatement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://storage.bindopen.org/xsd/bindopen/kernel" elementFormDefault="qualified" targetNamespace="https://storage.bindopen.org/xsd/bindopen/kernel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/DictionaryDataItem.xsd" />
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/RoutineConfiguration.xsd" />

  <xs:complexType name="BdoConfigurationSet">
    <xs:complexContent mixed="false">
      <xs:extension base="DataListOfRoutineConfiguration" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DataListOfRoutineConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="DictionaryDataItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="items" type="ArrayOfRoutineConfiguration1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfRoutineConfiguration1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="BdoConfiguration" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>