src/IO.Dtos/Xsd/data/MetaElementSpec.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://storage.bindopen.org/xsd/bindopen/kernel" elementFormDefault="qualified" targetNamespace="https://storage.bindopen.org/xsd/bindopen/kernel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/DataSpecification.xsd" />
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/DataValueType.xsd" />
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/DataValueMode.xsd" />
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/RequirementLevel.xsd" />
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/Arrays.xsd" />
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/BdoConfigurationSet.xsd" />
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/BdoElementDesignStatement.xsd" />
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/TBdoSet<IBdoSpec>.xsd" />

  <xs:complexType name="BdoElementSpec" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="DataSpecification">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="groupId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="aliases" >
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="alias" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="areaSpecifications" type="ArrayOfDataAreaSpecification" />
          <xs:element minOccurs="0" maxOccurs="1" name="isAllocatable" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="availableValueModes" type="ArrayOfDataValueMode" />
          <xs:element minOccurs="0" maxOccurs="1" name="itemSpecificationLevels" type="ArrayOfSpecificationLevel" />
          <xs:element minOccurs="0" maxOccurs="1" name="defaultStringItems">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="item" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="minimumItemNumber" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="maximumItemNumber" type="xs:int" />

          <xs:element minOccurs="0" maxOccurs="1" name="constraint.statement" type="BdoConfigurationSet" />
          <xs:element minOccurs="0" maxOccurs="1" name="design.statement" type="BdoElementDesignStatement" />
          <xs:element minOccurs="0" maxOccurs="1" name="detail.spec" type="TBdoSet<IBdoSpec>" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>