src/_base/Framework.Core/Extensions/Libraries/Definition/LibraryDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:bdo="https://bindopen.org/xsd"
  elementFormDefault="qualified" targetNamespace="https://bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../../data/items/DescribedDataItem.xsd" />
  <xs:include schemaLocation="../../data/common/Arrays.xsd" />
  <xs:include schemaLocation="../../data/items/dictionary/DictionaryDataItem.xsd" />

  <xs:element name="library.definition" type="bdo:LibraryDefinition" />

  <xs:complexType name="LibraryDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:DescribedDataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="groupName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="assembly" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="fileName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="rootNamespace" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="using" type="bdo:ArrayOfString" />
          <xs:element minOccurs="0" maxOccurs="1" name="indexes" type="bdo:DictionaryDataItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>