src/BindOpen.Abstractions/Data/_Common/Enums/DataItemizationMode.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://storage.bindopen.org/xsd/bindopen" elementFormDefault="qualified" targetNamespace="https://storage.bindopen.org/xsd/bindopen" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="DataValueMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Any" />
      <xs:enumeration value="Single" />
      <xs:enumeration value="List" />
      <xs:enumeration value="Referenced" />
      <xs:enumeration value="Script" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ArrayOfDataValueMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add.mode" nillable="true" type="DataValueMode" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>