src/BindOpen.Core/Extensions/Definition/Items/Scriptwords/BdoScriptwordDefinitionDto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://docs.bindopen.org/xsd" elementFormDefault="qualified" targetNamespace="https://docs.bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/BdoExtensionItemDefinitionDto.xsd" />
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/ScriptItemKind.xsd" />
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/DataElementSpecSet.xsd" />
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/DataValueType.xsd" />
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/DictionaryDataItem.xsd" />

  <xs:complexType name="BdoScriptwordDefinitionDto">
    <xs:complexContent mixed="false">
      <xs:extension base="BdoExtensionItemDefinitionDto">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="callingClass" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="kind" type="ScriptItemKind" />
          <xs:element minOccurs="0" maxOccurs="1" name="functionName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="parameter.specification" type="DataElementSpecSet" />
          <xs:element minOccurs="0" maxOccurs="1" name="returnValueType" type="DataValueType" />
          <xs:element minOccurs="0" maxOccurs="1" name="isRepeatedParameters" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="repeatedParameterValueType" type="DataValueType" />
          <xs:element minOccurs="0" maxOccurs="1" name="repeatedParameterDescription" type="DictionaryDataItem" />
          <xs:element minOccurs="0" maxOccurs="1" name="repeatedParameterName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="maxParameterNumber" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="minParameterNumber" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="children" type="ArrayOfScriptwordDefinition" />
        </xs:sequence>
        <xs:attribute name="referenceUniqueName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfScriptwordDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add.definition" nillable="true" type="BdoScriptwordDefinitionDto" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>