src/BindOpen.Core/Extensions/Definition/Dictionaries/Connectors/BdoConnectorDictionaryDto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:bdo="https://storage.bindopen.org/pgrkhpym/docs/code/xsd/bindopen"
  elementFormDefault="qualified" targetNamespace="https://storage.bindopen.org/pgrkhpym/docs/code/xsd/bindopen" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="DataItem.xsd" />
  <xs:include schemaLocation="connectors/ConnectorDefinitionDto.xsd" />
  <xs:include schemaLocation="BdoExtensionItemGroup.xsd" />

  <xs:element name="connectors.dictionary" type="bdo:BdoConnectorDictionary" />

  <xs:complexType name="BdoConnectorDictionary">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:TBdoExtensionDictionary_Connector" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TBdoExtensionDictionary_Connector">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:StoredDataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="definitions" type="bdo:ArrayOfConnectorDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="groups" type="bdo:ArrayOfBdoExtensionItemGroup" />
        </xs:sequence>
        <xs:attribute name="libraryId" type="xs:string" />
        <xs:attribute name="library" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfConnectorDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add.definition" nillable="true" type="bdo:ConnectorDefinition" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>