src/BindOpen.Core/Extensions/Runtime/Items/BdoExtensionItemGroup.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://docs.bindopen.org/xsd" elementFormDefault="qualified" targetNamespace="https://docs.bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/DescribedDataItem.xsd" />

  <xs:complexType name="BdoExtensionItemGroup">
    <xs:complexContent mixed="false">
      <xs:extension base="DescribedDataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="subGroups" type="ArrayOfBdoExtensionItemGroup" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfBdoExtensionItemGroup">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="group" nillable="true" type="BdoExtensionItemGroup" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>