src/BindOpen.Framework.Core/Extensions/Configuration/Routines/RoutineConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:bdo="http://meltingsoft.com/bindopen/xsd"
  elementFormDefault="qualified" targetNamespace="http://meltingsoft.com/bindopen/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../../../data/elements/sets/DataElementSet.xsd" />
  <xs:include schemaLocation="../../../data/items/dictionary/DictionaryDataItem.xsd" />
  <xs:include schemaLocation="../../../data/items/StoredDataItem.xsd" />
  <xs:include schemaLocation="../../../application/commands/Command.xsd" />
  <xs:include schemaLocation="../../../data/common/Arrays.xsd" />

  <xs:complexType name="RoutineConfiguration" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:AppExtensionTitledItemOfRoutineConfigurationDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="parameterDetail" type="bdo:DataElementSet" />
          <xs:element minOccurs="0" maxOccurs="1" name="commmandSet" type="bdo:DataItemSetOfCommand" />
          <xs:element minOccurs="0" maxOccurs="1" name="outputEventSet" type="bdo:DataItemSetOfDescribedDataItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AppExtensionTitledItemOfRoutineConfigurationDefinition" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:TAppExtensionItemOfRoutineConfigurationDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="uniqueName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="title" type="bdo:DictionaryDataItem" />
          <xs:element minOccurs="0" maxOccurs="1" name="description" type="bdo:DictionaryDataItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TAppExtensionItemOfRoutineConfigurationDefinition" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:StoredDataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="group" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="definition" type="xs:string" use="required" />
    </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DataItemSetOfCommand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="bdo:DictionaryDataItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="items" type="bdo:ArrayOfCommand" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DataItemSetOfDescribedDataItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="bdo:DictionaryDataItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="items" type="bdo:ArrayOfDescribedDataItem" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>