src/IO.Dtos.Xsd/data/DataValueFilter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://storage.bindopen.org/xsd/bindopen/kernel" elementFormDefault="qualified" targetNamespace="https://storage.bindopen.org/xsd/bindopen/kernel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/Arrays.xsd" />

  <xs:complexType name="StringSet">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="add" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="remove" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>