src/IO.Dtos.Xsd/data/DataSpecification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://storage.bindopen.org/xsd/bindopen/kernel" elementFormDefault="qualified" targetNamespace="https://storage.bindopen.org/xsd/bindopen/kernel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/IndexedDataItem.xsd" />
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/RequirementLevel.xsd" />
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/InheritanceLevel.xsd" />
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/Arrays.xsd" />
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/AccessibilityLevel.xsd" />

  <xs:complexType name="DataSpecification" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="IndexedDataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="requirementLevel" type="RequirementLevel" />
          <xs:element minOccurs="0" maxOccurs="1" name="inheritanceLevel" type="InheritanceLevel" />
          <xs:element minOccurs="0" maxOccurs="1" name="specificationLevels" type="ArrayOfSpecificationLevel" />
          <xs:element minOccurs="0" maxOccurs="1" name="accessibilityLevel" type="AccessibilityLevel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
</xs:schema>