src/IO.Dtos.Xsd/data/SpecRule.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://storage.bindopen.org/xsd/bindopen/kernel" elementFormDefault="qualified" targetNamespace="https://storage.bindopen.org/xsd/bindopen/kernel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://xsd.bindopen.org/Routine.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/DictionaryDataItem.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/ConditionalEvent.xsd" />

  <xs:complexType name="DataSpecRule" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="Routine">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="outputEventSet" type="DataListOfConditionalEvent" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DataListOfConditionalEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="DictionaryDataItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="items" type="ArrayOfConditionalEvent1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfConditionalEvent1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="BdoConditionalEvent" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>