src/BindOpen.Core/Data/Specification/Constraints/DataConstraint.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://docs.bindopen.org/xsd" elementFormDefault="qualified" targetNamespace="https://docs.bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="Routine.xsd" />
  <xs:include schemaLocation="DictionaryDataItem.xsd" />
  <xs:include schemaLocation="ConditionalEvent.xsd" />

  <xs:complexType name="DataConstraint" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="Routine">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="outputEventSet" type="DataItemSetOfConditionalEvent" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DataItemSetOfConditionalEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="DictionaryDataItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="items" type="ArrayOfConditionalEvent1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfConditionalEvent1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="ConditionalEvent" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>