src/BindOpen.Core/Data/Specification/Constraints/DataConstraintStatement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://docs.bindopen.org/xsd" elementFormDefault="qualified" targetNamespace="https://docs.bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="DictionaryDataItem.xsd" />
  <xs:include schemaLocation="RoutineConfiguration.xsd" />

  <xs:complexType name="DataConstraintStatement">
    <xs:complexContent mixed="false">
      <xs:extension base="DataItemSetOfRoutineConfiguration" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DataItemSetOfRoutineConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="DictionaryDataItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="items" type="ArrayOfRoutineConfiguration1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfRoutineConfiguration1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="RoutineConfiguration" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>