src/BindOpen.Core/Extensions/Definition/Items/Entities/BdoEntityDefinitionDto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://docs.bindopen.org/xsd" elementFormDefault="qualified" targetNamespace="https://docs.bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="BdoExtensionItemDefinitionDto.xsd" />
  <xs:include schemaLocation="EntityKind.xsd" />
  <xs:include schemaLocation="formats/FormatDefinitionDto.xsd" />
  <xs:include schemaLocation="DataSchema.xsd" />

  <xs:complexType name="EntityDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="BdoExtensionItemDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="itemClass" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="kind" type="EntityKind" />
          <xs:element minOccurs="0" maxOccurs="1" name="viewerClass" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="formats" type="ArrayOfFormatDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="schemas" type="ArrayOfDataSchema1" />
          <xs:element minOccurs="0" maxOccurs="1" name="detail.specification" type="DataElementSpecSet" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfFormatDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="format" nillable="true" type="FormatDefinition" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfDataSchema1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="schema" nillable="true" type="DataSchema" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>