src/BindOpen.Core/Extensions/Definition/Items/Routines/BdoRoutineDefinitionDto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://docs.bindopen.org/xsd" elementFormDefault="qualified" targetNamespace="https://docs.bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="BdoExtensionItemDefinitionDto.xsd" />
  <xs:include schemaLocation="DataElementSet.xsd" />
  <xs:include schemaLocation="Arrays.xsd" />

  <xs:complexType name="RoutineDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="BdoExtensionItemDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="itemClass" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="parameterStatement" type="DataElementSet" />
          <xs:element minOccurs="0" maxOccurs="1" name="commands" type="ArrayOfCommand" />
          <xs:element minOccurs="0" maxOccurs="1" name="outputResultCodes" type="ArrayOfDescribedDataItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>