src/BindOpen.Framework.Core/Data/Items/Strings/StringValuedDataItem.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:bdo="http://meltingsoft.com/bindopen/xsd"
  elementFormDefault="qualified" targetNamespace="http://meltingsoft.com/bindopen/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../../../data/items/StoredDataItem.xsd" />
  <xs:include schemaLocation="../../../data/common/Arrays.xsd" />

  <xs:complexType name="StringValuedDataItem">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:DataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="values" type="bdo:ArrayOfString" />
        </xs:sequence>
        <xs:attribute name="name" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>