src/BindOpen.Framework.Core/Data/Items/Strings/StringValuedDataCollection.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:bdo="http://meltingsoft.com/bindopen/xsd"
  elementFormDefault="qualified" targetNamespace="http://meltingsoft.com/bindopen/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="StringValuedDataItem.xsd" />

  <xs:complexType name="StringValuedDataCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="items" type="bdo:ArrayOfStringValuedDataItem" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfStringValuedDataItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" nillable="true" type="bdo:StringValuedDataItem" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>