src/Framework.Core/System/Diagnostics/Log.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:bdo="https://bindopen.org/xsd"
  elementFormDefault="qualified" targetNamespace="https://bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../../data/items/DescribedDataItem.xsd" />
  <xs:include schemaLocation="../../system/processing/ProcessExecution.xsd" />
  <xs:include schemaLocation="../../extensions/configuration/tasks/TaskConfiguration.xsd" />
  <xs:include schemaLocation="../../data/elements/sets/DataElementSet.xsd" />
  <xs:include schemaLocation="../../system/diagnostics/events/Event.xsd" />
  <xs:include schemaLocation="LogEvent.xsd" />

  <xs:complexType name="Log">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:DescribedDataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="execution" type="bdo:ProcessExecution" />
          <xs:element minOccurs="0" maxOccurs="1" name="task" type="bdo:TaskConfiguration" />
          <xs:element minOccurs="0" maxOccurs="1" name="detail" type="bdo:DataElementSet" />
          <xs:element minOccurs="0" maxOccurs="1" name="parent" type="bdo:Log" />
          <xs:element minOccurs="0" maxOccurs="1" name="children" type="bdo:ArrayOfLog_Log" />
          <xs:element minOccurs="0" maxOccurs="1" name="events" type="bdo:ArrayOfLogEvent_Log" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfLog_Log">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="child" nillable="true" type="bdo:Log" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfLogEvent_Log">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="event" nillable="true" type="bdo:LogEvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="LoggerMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Any" />
      <xs:enumeration value="Manual" />
      <xs:enumeration value="Auto" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="LogFormat">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Yaml" />
      <xs:enumeration value="Xml" />
      <xs:enumeration value="Snap" />
      <xs:enumeration value="Report" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>