src/IO.Dtos/Xsd/runtime/BdoPackageDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://storage.bindopen.org/xsd/bindopen/kernel" elementFormDefault="qualified" targetNamespace="https://storage.bindopen.org/xsd/bindopen/kernel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/DescribedDataItem.xsd" />
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/Arrays.xsd" />
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/DictionaryDataItem.xsd" />

  <xs:element name="extension" type="BdoPackageDefinition" />

  <xs:complexType name="BdoPackageDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="DescribedDataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="groupName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="assembly" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="fileName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="rootNamespace" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="using" type="ArrayOfString" />
          <xs:element minOccurs="0" maxOccurs="1" name="indexes" type="DictionaryDataItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>