src/BindOpen.Core/Application/Configuration/BdoUsableConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://docs.bindopen.org/xsd" elementFormDefault="qualified" targetNamespace="https://docs.bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/Arrays.xsd" />
  
  <xs:element name="config" type="BdoUsableConfiguration" />
  
  <xs:complexType name="BdoUsableConfiguration">
    <xs:complexContent mixed="false">
      <xs:extension base="Configuration">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="usingFilePaths" type="ArrayOfString" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>