src/BindOpen.Framework.Core/Extensions/Indexes/MetricsIndex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:bdo="http://meltingsoft.com/bindopen/xsd"
  elementFormDefault="qualified" targetNamespace="http://meltingsoft.com/bindopen/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../../data/items/DataItem.xsd" />
  <xs:include schemaLocation="../../extensions/definition/metrics/MetricsDefinition.xsd" />
  <xs:include schemaLocation="../../extensions/definition/AppExtensionItemGroup.xsd" />

  <xs:element name="metrics.index" type="bdo:MetricsIndex" />

  <xs:complexType name="MetricsIndex">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:TAppExtensionItemIndex_Metrics" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TAppExtensionItemIndex_Metrics">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:StoredDataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="definitions" type="bdo:ArrayOfMetricsDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="groups" type="bdo:ArrayOfAppExtensionItemGroup" />
        </xs:sequence>
        <xs:attribute name="libraryId" type="xs:string" />
        <xs:attribute name="library" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfMetricsDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add.definition" nillable="true" type="bdo:MetricsDefinition" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>