src/BindOpen.Core/Data/Elements/Schema/SchemaElementSpec.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:bdo="https://bindopen.org/xsd"
  elementFormDefault="qualified" targetNamespace="https://bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="DataElementSpec.xsd" />
  <xs:include schemaLocation="DataValueFilter.xsd" />
  <xs:include schemaLocation="RequirementLevel.xsd" />
  <xs:include schemaLocation="Arrays.xsd" />

  <xs:complexType name="SchemaElementSpec">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:DataElementSpec">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="entityUniqueNameFilter" type="bdo:DataValueFilter" />
          <xs:element minOccurs="0" maxOccurs="1" name="entityRequirementLevel" type="bdo:RequirementLevel" />
          <xs:element minOccurs="0" maxOccurs="1" name="entitySpecificationLevels" type="bdo:ArrayOfSpecificationLevel" />
          <xs:element minOccurs="0" maxOccurs="1" name="formatUniqueNameFilter" type="bdo:DataValueFilter" />
          <xs:element minOccurs="0" maxOccurs="1" name="formatRequirementLevel" type="bdo:RequirementLevel" />
          <xs:element minOccurs="0" maxOccurs="1" name="formatSpecificationLevels" type="bdo:ArrayOfSpecificationLevel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
</xs:schema>