src/BindOpen.Core/Data/Elements/Schema/SchemaZoneElement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://docs.bindopen.org/xsd" elementFormDefault="qualified" targetNamespace="https://docs.bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/SchemaElement.xsd" />

  <xs:complexType name="SchemaZoneElement">
    <xs:complexContent mixed="false">
      <xs:extension base="SchemaElement">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="subElements" type="ArrayOfSchemaElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfSchemaElement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subElement" nillable="true" type="SchemaElement" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>