src/BindOpen.Core/Data/Elements/Schema/SchemaZoneElement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:bdo="https://storage.bindopen.org/pgrkhpym/docs/code/xsd/bindopen"
  elementFormDefault="qualified" targetNamespace="https://storage.bindopen.org/pgrkhpym/docs/code/xsd/bindopen" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="SchemaElement.xsd" />

  <xs:complexType name="SchemaZoneElement">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:SchemaElement">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="subElements" type="bdo:ArrayOfSchemaElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfSchemaElement">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subElement" nillable="true" type="bdo:SchemaElement" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>