src/BindOpen.Core/Data/Elements/Schema/SchemaElementSpec.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://docs.bindopen.org/xsd" elementFormDefault="qualified" targetNamespace="https://docs.bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="DataElementSpec.xsd" />
  <xs:include schemaLocation="DataValueFilter.xsd" />
  <xs:include schemaLocation="RequirementLevel.xsd" />
  <xs:include schemaLocation="Arrays.xsd" />

  <xs:complexType name="SchemaElementSpec">
    <xs:complexContent mixed="false">
      <xs:extension base="DataElementSpec">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="entityUniqueNameFilter" type="DataValueFilter" />
          <xs:element minOccurs="0" maxOccurs="1" name="entityRequirementLevel" type="RequirementLevel" />
          <xs:element minOccurs="0" maxOccurs="1" name="entitySpecificationLevels" type="ArrayOfSpecificationLevel" />
          <xs:element minOccurs="0" maxOccurs="1" name="formatUniqueNameFilter" type="DataValueFilter" />
          <xs:element minOccurs="0" maxOccurs="1" name="formatRequirementLevel" type="RequirementLevel" />
          <xs:element minOccurs="0" maxOccurs="1" name="formatSpecificationLevels" type="ArrayOfSpecificationLevel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
</xs:schema>