src/Framework.Core/Extensions/Indexes/ScriptWordIndex.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:bdo="http://meltingsoft.com/bindopen/xsd"
  elementFormDefault="qualified" targetNamespace="http://meltingsoft.com/bindopen/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../../data/items/DataItem.xsd" />
  <xs:include schemaLocation="../../extensions/definition/scriptwords/ScriptWordDefinition.xsd" />
  <xs:include schemaLocation="../../extensions/definition/AppExtensionItemGroup.xsd" />

  <xs:element name="scriptWords.index" type="bdo:ScriptWordIndex" />

  <xs:complexType name="ScriptWordIndex">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:TAppExtensionItemIndex_Script">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="definitionClass" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TAppExtensionItemIndex_Script">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:StoredDataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="definitions" type="bdo:ArrayOfScriptWordDefinition1" />
          <xs:element minOccurs="0" maxOccurs="1" name="groups" type="bdo:ArrayOfAppExtensionItemGroup" />
        </xs:sequence>
        <xs:attribute name="libraryId" type="xs:string" />
        <xs:attribute name="library" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfScriptWordDefinition1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add.definition" nillable="true" type="bdo:ScriptWordDefinition" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>