src/BindOpen.Core/Data/Specification/Filters/DataValueFilter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:bdo="https://bindopen.org/xsd"
  elementFormDefault="qualified" targetNamespace="https://bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="Arrays.xsd" />

  <xs:complexType name="DataValueFilter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="add" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="remove" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>