src/Framework.Core/Data/Elements/Entity/EntityElementSpecification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:bdo="http://meltingsoft.com/bindopen/xsd"
  elementFormDefault="qualified" targetNamespace="http://meltingsoft.com/bindopen/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../../../data/elements/DataElementSpecification.xsd" />
  <xs:include schemaLocation="../../../data/specification/filters/DataValueFilter.xsd" />
  <xs:include schemaLocation="../../../data/common/RequirementLevel.xsd" />
  <xs:include schemaLocation="../../../data/common/Arrays.xsd" />

  <xs:complexType name="EntityElementSpecification">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:DataElementSpecification">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="entity.filter" type="bdo:DataValueFilter" />
          <!--<xs:element minOccurs="0" maxOccurs="1" name="formatUniqueNameFilter" type="bdo:DataValueFilter" />
          <xs:element minOccurs="1" maxOccurs="1" name="formatRequirementLevel" type="bdo:RequirementLevel" />
          <xs:element minOccurs="0" maxOccurs="1" name="formatSpecificationLevels" type="bdo:ArrayOfSpecificationLevel" />-->
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>