src/Dtos.Xsd/scoping/BdoConnectorDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:bdo="https://storage.bindopen.org/xsd/bindopen/kernel"
  elementFormDefault="qualified" targetNamespace="https://storage.bindopen.org/xsd/bindopen/kernel" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/BdoExtensionDefinition.xsd" />
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/SourceElementSpec.xsd" />

  <xs:complexType name="BdoConnectorDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="BdoExtensionDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="itemClass" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="dataSource.schema" type="SourceElementSpec" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>