src/Framework.Runtime/Application/Configuration/AppConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:bdo="https://bindopen.org/xsd" elementFormDefault="qualified" targetNamespace="https://bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../security/ApplicationCredential.xsd" />
  <xs:include schemaLocation="../../../bdo.core/data/common/Arrays.xsd" />
  
  <xs:element name="app.config" type="bdo:AppConfiguration" />
  <xs:complexType name="AppConfiguration">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:UsableConfiguration">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="credentials" type="bdo:ArrayOfApplicationCredential" />
          <xs:element minOccurs="0" maxOccurs="1" name="dataSources" type="bdo:ArrayOfDataSources" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UsableConfiguration">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:Configuration">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="usingFilePaths" type="bdo:ArrayOfString" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Configuration">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:DataElementSet">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="creationDate" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="lastModificationDate" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfApplicationCredential">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="credential" nillable="true" type="bdo:ApplicationCredential" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>