src/BindOpen.Dtos/_Common/Xsd/runtime/BdoConnectorDictionary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://storage.bindopen.org/xsd/bindopen" elementFormDefault="qualified" targetNamespace="https://storage.bindopen.org/xsd/bindopen" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/DataItem.xsd" />
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/connectors/ConnectorDefinition.xsd" />
  <xs:include schemaLocation="https://storage.bindopen.org/xsd/bindopen/BdoExtensionGroup.xsd" />

  <xs:element name="connectors.dico" type="BdoConnectorDictionaryDto" />

  <xs:complexType name="BdoConnectorDictionaryDto">
    <xs:complexContent mixed="false">
      <xs:extension base="TBdoExtensionDictionary_Connector" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TBdoExtensionDictionary_Connector">
    <xs:complexContent mixed="false">
      <xs:extension base="StoredDataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="definitions" type="ArrayOfConnectorDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="groups" type="ArrayOfBdoExtensionGroup" />
        </xs:sequence>
        <xs:attribute name="libraryId" type="xs:string" />
        <xs:attribute name="library" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfConnectorDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add.definition" nillable="true" type="BdoConnectorDefinition" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>