src/BindOpen.Dtos/_Common/Xsd/runtime/BdoEntityDefinition.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://xsd.bindopen.org" elementFormDefault="qualified" targetNamespace="https://xsd.bindopen.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://xsd.bindopen.org/BdoExtensionItemDefinition.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/EntityKind.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/formats/FormatDefinition.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/DataSchema.xsd" />

  <xs:complexType name="BdoEntityDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="BdoExtensionItemDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="itemClass" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="kind" type="EntityKind" />
          <xs:element minOccurs="0" maxOccurs="1" name="viewerClass" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="formats" type="ArrayOfFormatDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="schemas" type="ArrayOfDataSchema1" />
          <xs:element minOccurs="0" maxOccurs="1" name="detail.spec" type="BdoElementSpecSet" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfFormatDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="format" nillable="true" type="BdoFormatDefinition" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfDataSchema1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="schema" nillable="true" type="DataSchema" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>