src/BindOpen.Dtos/_Common/Xsd/runtime/BdoMetricsDictionary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://xsd.bindopen.org" elementFormDefault="qualified" targetNamespace="https://xsd.bindopen.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="https://xsd.bindopen.org/DataItem.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/metrics/BdoMetricsDefinition.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/BdoExtensionItemGroup.xsd" />

  <xs:element name="metrics.dico" type="BdoMetricsDictionaryDto" />

  <xs:complexType name="BdoMetricsDictionaryDto">
    <xs:complexContent mixed="false">
      <xs:extension base="TBdoExtensionDictionary_Metrics" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TBdoExtensionDictionary_Metrics">
    <xs:complexContent mixed="false">
      <xs:extension base="StoredDataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="definitions" type="ArrayOfMetricsDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="groups" type="ArrayOfBdoExtensionItemGroup" />
        </xs:sequence>
        <xs:attribute name="libraryId" type="xs:string" />
        <xs:attribute name="library" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfMetricsDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add.definition" nillable="true" type="MetricsDefinition" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>