src/BindOpen.Core/Extensions/Definition/Dictionaries/Entities/BdoEntityDictionaryDto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://docs.bindopen.org/xsd" elementFormDefault="qualified" targetNamespace="https://docs.bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/DataItem.xsd" />
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/entities/EntityDefinitionDto.xsd" />
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/BdoExtensionItemGroup.xsd" />
  
  <xs:element name="entities.dictionary" type="BdoEntityDictionaryDto" />

  <xs:complexType name="BdoEntityDictionaryDto">
    <xs:complexContent mixed="false">
      <xs:extension base="TBdoExtensionDictionary_Entity" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TBdoExtensionDictionary_Entity">
    <xs:complexContent mixed="false">
      <xs:extension base="StoredDataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="definitions" type="ArrayOfEntityDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="groups" type="ArrayOfBdoExtensionItemGroup" />
        </xs:sequence>
        <xs:attribute name="libraryId" type="xs:string" />
        <xs:attribute name="library" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfEntityDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add.definition" nillable="true" type="BdoEntityDefinitionDto" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>