src/Framework.Core/Extensions/Definition/Routines/RoutineDefinitionDto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:bdo="http://meltingsoft.com/bindopen/xsd"
  elementFormDefault="qualified" targetNamespace="http://meltingsoft.com/bindopen/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../../../extensions/definition/AppExtensionItemDefinitionDto.xsd" />
  <xs:include schemaLocation="../../../data/elements/sets/DataElementSet.xsd" />
  <xs:include schemaLocation="../../../data/common/Arrays.xsd" />

  <xs:complexType name="RoutineDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:AppExtensionItemDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="itemClass" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="parameterStatement" type="bdo:DataElementSet" />
          <xs:element minOccurs="0" maxOccurs="1" name="commands" type="bdo:ArrayOfCommand" />
          <xs:element minOccurs="0" maxOccurs="1" name="outputResultCodes" type="bdo:ArrayOfDescribedDataItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>