src/BindOpen.Core/Data/Elements/DataElement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:bdo="https://bindopen.org/xsd"
  elementFormDefault="qualified" targetNamespace="https://bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="IndexedDataItem.xsd" />
  <xs:include schemaLocation="DataItemizationMode.xsd" />
  <xs:include schemaLocation="DataReferenceDto.xsd" />
  <xs:include schemaLocation="Arrays.xsd" />
  <xs:include schemaLocation="DataElementSpec.xsd" />
  <xs:include schemaLocation="DataElementSet.xsd" />
  <xs:include schemaLocation="EventKind.xsd" />

  <xs:complexType name="DataElement" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:IndexedDataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="itemReference" type="bdo:DataReference" />
          <xs:element minOccurs="0" maxOccurs="1" name="items" type="bdo:ArrayOfString" />
          <xs:element minOccurs="0" maxOccurs="1" name="propertyDetail" type="bdo:DataElementSet" />
          <xs:element minOccurs="0" maxOccurs="1" name="eventKind" type="bdo:EventKind" />
        </xs:sequence>
        <xs:attribute use="optional" name="itemizationMode" type="bdo:DataItemizationMode" />
        <xs:attribute use="optional" name="script" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>