src/BindOpen.Core/Data/Elements/DataElementSpec.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://docs.bindopen.org/xsd" elementFormDefault="qualified" targetNamespace="https://docs.bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="DataSpecification.xsd" />
  <xs:include schemaLocation="DataValueType.xsd" />
  <xs:include schemaLocation="DataItemizationMode.xsd" />
  <xs:include schemaLocation="RequirementLevel.xsd" />
  <xs:include schemaLocation="Arrays.xsd" />
  <xs:include schemaLocation="DataConstraintStatement.xsd" />
  <xs:include schemaLocation="DataElementDesignStatement.xsd" />
  <xs:include schemaLocation="DataElementSpecSet.xsd" />

  <xs:complexType name="DataElementSpec" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="DataSpecification">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="groupId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="aliases" >
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="alias" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="areaSpecifications" type="ArrayOfDataAreaSpecification" />
          <xs:element minOccurs="0" maxOccurs="1" name="isAllocatable" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="availableItemizationModes" type="ArrayOfDataItemizationMode" />
          <xs:element minOccurs="0" maxOccurs="1" name="itemSpecificationLevels" type="ArrayOfSpecificationLevel" />
          <xs:element minOccurs="0" maxOccurs="1" name="defaultStringItems">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="item" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="minimumItemNumber" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="maximumItemNumber" type="xs:int" />

          <xs:element minOccurs="0" maxOccurs="1" name="constraint.statement" type="DataConstraintStatement" />
          <xs:element minOccurs="0" maxOccurs="1" name="design.statement" type="DataElementDesignStatement" />
          <xs:element minOccurs="0" maxOccurs="1" name="detail.specification" type="DataElementSpecSet" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>