src/BindOpen.Core/Data/Elements/DataElement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://docs.bindopen.org/xsd" elementFormDefault="qualified" targetNamespace="https://docs.bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/IndexedDataItem.xsd" />
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/DataItemizationMode.xsd" />
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/DataReferenceDto.xsd" />
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/Arrays.xsd" />
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/DataElementSpec.xsd" />
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/DataElementSet.xsd" />
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/EventKind.xsd" />

  <xs:complexType name="DataElement" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="IndexedDataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="itemReference" type="DataReference" />
          <xs:element minOccurs="0" maxOccurs="1" name="items" type="ArrayOfString" />
          <xs:element minOccurs="0" maxOccurs="1" name="propertyDetail" type="DataElementSet" />
          <xs:element minOccurs="0" maxOccurs="1" name="eventKind" type="EventKind" />
        </xs:sequence>
        <xs:attribute use="optional" name="itemizationMode" type="DataItemizationMode" />
        <xs:attribute use="optional" name="script" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>