src/BindOpen.Dtos/_Common/Xsd/metadata/DataConstraintStatement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://xsd.bindopen.org" elementFormDefault="qualified" targetNamespace="https://xsd.bindopen.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://xsd.bindopen.org/DictionaryDataItem.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/RoutineConfiguration.xsd" />

  <xs:complexType name="DataConstraintStatement">
    <xs:complexContent mixed="false">
      <xs:extension base="DataListOfRoutineConfiguration" />
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="DataListOfRoutineConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="DictionaryDataItem" />
      <xs:element minOccurs="0" maxOccurs="1" name="items" type="ArrayOfRoutineConfiguration1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfRoutineConfiguration1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="BdoConfiguration" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>