src/BindOpen.Dtos/_Common/Xsd/metadata/DataSpecification.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://xsd.bindopen.org" elementFormDefault="qualified" targetNamespace="https://xsd.bindopen.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://xsd.bindopen.org/IndexedDataItem.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/RequirementLevel.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/InheritanceLevel.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/Arrays.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/AccessibilityLevel.xsd" />

  <xs:complexType name="DataSpecification" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="IndexedDataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="requirementLevel" type="RequirementLevel" />
          <xs:element minOccurs="0" maxOccurs="1" name="inheritanceLevel" type="InheritanceLevel" />
          <xs:element minOccurs="0" maxOccurs="1" name="specificationLevels" type="ArrayOfSpecificationLevel" />
          <xs:element minOccurs="0" maxOccurs="1" name="accessibilityLevel" type="AccessibilityLevel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  
</xs:schema>