src/BindOpen.Dtos/_Common/Xsd/metadata/MetaElement.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://xsd.bindopen.org" elementFormDefault="qualified" targetNamespace="https://xsd.bindopen.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://xsd.bindopen.org/IndexedDataItem.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/DataValueMode.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/DataReferenceDto.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/Arrays.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/BdoElementSpec.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/BdoElementSet.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/EventKind.xsd" />

  <xs:complexType name="BdoElement" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="IndexedDataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="itemReference" type="DataReference" />
          <xs:element minOccurs="0" maxOccurs="1" name="items" type="ArrayOfString" />
          <xs:element minOccurs="0" maxOccurs="1" name="propertyDetail" type="BdoElementSet" />
          <xs:element minOccurs="0" maxOccurs="1" name="eventKind" type="EventKind" />
        </xs:sequence>
        <xs:attribute use="optional" name="valueMode" type="DataValueMode" />
        <xs:attribute use="optional" name="script" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>