src/BindOpen.Core/Extensions/Definition/Dictionaries/Tasks/BdoTaskDictionaryDto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:bdo="https://bindopen.org/xsd"
  elementFormDefault="qualified" targetNamespace="https://bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="DataElementSet.xsd" />
  <xs:include schemaLocation="DataItem.xsd" />
  <xs:include schemaLocation="tasks/TaskDefinitionDto.xsd" />
  <xs:include schemaLocation="BdoExtensionItemGroup.xsd" />

  <xs:element name="tasks.dictionary" type="bdo:TaskDictionary" />

  <xs:complexType name="TaskDictionary">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:TBdoExtensionDictionary_Task" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TBdoExtensionDictionary_Task">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:StoredDataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="definitions" type="bdo:ArrayOfTaskDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="groups" type="bdo:ArrayOfBdoExtensionItemGroup" />
        </xs:sequence>
        <xs:attribute name="libraryId" type="xs:string" />
        <xs:attribute name="library" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfTaskDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add.definition" nillable="true" type="bdo:TaskDefinition" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>