src/BindOpen.Runtime/Application/Configuration/BdoAppConfiguration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://docs.bindopen.org/xsd" elementFormDefault="qualified" targetNamespace="https://docs.bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation ="https://docs.bindopen.org/xsd/ApplicationCredential.xsd" />
  <xs:include schemaLocation ="https://docs.bindopen.org/xsd/Arrays.xsd" />
  <xs:include schemaLocation ="https://docs.bindopen.org/xsd/UsableConfiguration.xsd" />
  
  <xs:element name="app.config" type="BdoAppConfiguration" />
  
  <xs:complexType name="BdoAppConfiguration">
    <xs:complexContent mixed="false">
      <xs:extension base="UsableConfiguration">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="credentials" type="ArrayOfApplicationCredential" />
          <xs:element minOccurs="0" maxOccurs="1" name="dataSources" type="ArrayOfDatasources" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfApplicationCredential">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="credential" nillable="true" type="ApplicationCredential" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>