src/BindOpen.Abstractions/Data/_Core/Enums/Arrays.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://storage.bindopen.org/xsd/bindopen" elementFormDefault="qualified" targetNamespace="https://storage.bindopen.org/xsd/bindopen" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://xsd.bindopen.org/SpecificationLevels.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/DescribedDataItem.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/DataKeyValue.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/DataAreaSpecification.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/Command.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/ConnectorConfiguration.xsd" />
  <xs:include schemaLocation="https://xsd.bindopen.org/Datasource.xsd" />

  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfDescribedDataItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="DescribedDataItem" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfSpecificationLevel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add.level" type="SpecificationLevel" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfDataKeyValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add.value" nillable="true" type="DataKeyValue" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfDataAreaSpecification">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="DataAreaSpecification" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfCommand">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="Command" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ArrayOfDatasources">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="Datasource" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>