src/Framework.Core/Extensions/Definition/Scriptwords/ScriptwordDefinitionDto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:bdo="http://meltingsoft.com/bindopen/xsd"
  elementFormDefault="qualified" targetNamespace="http://meltingsoft.com/bindopen/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../../../extensions/definition/AppExtensionItemDefinitionDto.xsd" />
  <xs:include schemaLocation="../../../system/script/ScriptItemKind.xsd" />
  <xs:include schemaLocation="../../../data/elements/sets/DataElementSpecSet.xsd" />
  <xs:include schemaLocation="../../../data/common/DataValueType.xsd" />
  <xs:include schemaLocation="../../../data/items/dictionary/DictionaryDataItem.xsd" />

  <xs:complexType name="ScriptwordDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:AppExtensionItemDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="callingClass" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="kind" type="bdo:ScriptItemKind" />
          <xs:element minOccurs="0" maxOccurs="1" name="functionName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="parameter.specification" type="bdo:DataElementSpecSet" />
          <xs:element minOccurs="0" maxOccurs="1" name="returnValueType" type="bdo:DataValueType" />
          <xs:element minOccurs="0" maxOccurs="1" name="isRepeatedParameters" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="repeatedParameterValueType" type="bdo:DataValueType" />
          <xs:element minOccurs="0" maxOccurs="1" name="repeatedParameterDescription" type="bdo:DictionaryDataItem" />
          <xs:element minOccurs="0" maxOccurs="1" name="repeatedParameterName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="maxParameterNumber" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="minParameterNumber" type="xs:int" />
          <xs:element minOccurs="0" maxOccurs="1" name="children" type="bdo:ArrayOfScriptwordDefinition" />
        </xs:sequence>
        <xs:attribute name="referenceUniqueName" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfScriptwordDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add.definition" nillable="true" type="bdo:ScriptwordDefinition" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>