src/Framework.Core/Extensions/Indexes/Carriers/CarrierIndexDto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:bdo="https://bindopen.org/xsd"
  elementFormDefault="qualified" targetNamespace="https://bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="../../data/elements/sets/DataElementSet.xsd" />
  <xs:include schemaLocation="../../data/items/DataItem.xsd" />
  <xs:include schemaLocation="../../extensions/definition/carriers/CarrierDefinitionDto.xsd" />
  <xs:include schemaLocation="../../extensions/definition/AppExtensionItemGroup.xsd" />

  <xs:element name="carriers.index" type="bdo:CarrierIndex" />

  <xs:complexType name="CarrierIndex">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:TAppExtensionItemIndex_Carrier" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TAppExtensionItemIndex_Carrier">
    <xs:complexContent mixed="false">
      <xs:extension base="bdo:StoredDataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="definitions" type="bdo:ArrayOfCarrierDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="groups" type="bdo:ArrayOfAppExtensionItemGroup" />
        </xs:sequence>
        <xs:attribute name="libraryId" type="xs:string" />
        <xs:attribute name="library" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ArrayOfCarrierDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add.definition" nillable="true" type="bdo:CarrierDefinition" />
    </xs:sequence>
  </xs:complexType>

</xs:schema>