src/BindOpen.Dtos/Runtime/Definition/Extensions/BdoExtensionDefinitionDto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://docs.bindopen.org/xsd" elementFormDefault="qualified" targetNamespace="https://docs.bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/DescribedDataItem.xsd" />
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/Arrays.xsd" />
  <xs:include schemaLocation="https://docs.bindopen.org/xsd/DictionaryDataItem.xsd" />

  <xs:element name="extension" type="BdoExtensionDefinition" />

  <xs:complexType name="BdoExtensionDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="DescribedDataItem">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="groupName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="assembly" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="fileName" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="rootNamespace" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="using" type="ArrayOfString" />
          <xs:element minOccurs="0" maxOccurs="1" name="indexes" type="DictionaryDataItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>