src/BindOpen.Core/Data/Items/DataItemizationMode.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
  xmlns:bdo="https://bindopen.org/xsd"
  elementFormDefault="qualified" targetNamespace="https://bindopen.org/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="DataItemizationMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Any" />
      <xs:enumeration value="Single" />
      <xs:enumeration value="List" />
      <xs:enumeration value="Referenced" />
      <xs:enumeration value="Script" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="ArrayOfDataItemizationMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add.mode" nillable="true" type="bdo:DataItemizationMode" />
    </xs:sequence>
  </xs:complexType>

  

</xs:schema>